# wep_<weapon_name>, folder name must start with `wep_`

from .. import WeaponSprite

config = {
    "handle_offset": (0 ,0),
	"surface_size": (40, 20),

}

class Weapon(WeaponSprite):
    def shoot(self):
        raise NotImplementedError